<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PawnBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RainbowPawno.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PawnBox.Properties.Settings>
            <setting name="ShowLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLibrary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompilationOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBeforeCompiling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathToRecovery" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToCompiler" serializeAs="String">
                <value />
            </setting>
        </PawnBox.Properties.Settings>
        <RainbowPawno.Properties.Settings>
            <setting name="ShowLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLibrary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAutoComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompilationOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBeforeCompiling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathToRecovery" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToCompiler" serializeAs="String">
                <value />
            </setting>
        </RainbowPawno.Properties.Settings>
    </userSettings>
</configuration>